
.container {
  width: 1440px;
  height: 1024px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.board {
  background: #343D4B;
  width: 1440px;
  height: 1024px;
  flex-shrink: 0;
}

.board-title {
  /* font-family: Montserrat; */
  font-size: 37px;
  font-weight: 700;
  line-height: 44px;
}

body {
  background: #343D4B;
  color: rgb(255, 255, 255);
font-family: Montserrat;
font-size: 37px;
font-style: normal;
font-weight: 700;
line-height: normal;
} 

.pink {
  border-radius: 25px;
  background: #222831;
  width: 944px;
  height: 623px;
  flex-shrink: 0;
}

.periwinkle {
  width: 493px;
  height: 666px;
  flex-shrink: 0;
  border-radius: 30px;
  background-image: url("Restangle.png");
}