.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.board {
  border-radius: 25px;
  background: #222831;
  padding: 24px;
  width: 944px;
  height: 623px;
  flex-shrink: 0;
}

.board-title {
  /* font-family: Montserrat; */
  font-size: 37px;
  font-weight: 700;
  line-height: 44px;
}

body {
  background: #343D4B;
  color: rgb(255, 255, 255);
} 

