
.container {
  display: flex;
  
  background-color: #343D4B;
  width: 1440px;
  height:1024px;
  align-items: center;
  justify-content: center;
}

body {
    display: flex;
    background: #343D4B;
    color: white;
    justify-content: center;
} 

.board1 {
  position: absolute;
  left: 200px;
  top: 188px;
  background-image: url();
  border-radius: 30px;
  z-index: 3;
  background-image:linear-gradient(152deg, rgba(170, 234, 236, 0.9) -0.04%, rgba(83, 91, 230, 0.90) 100%), url("./Restangle.png");
  width: 493px;
  height: 666px;
  flex-shrink: 0;
}

.board2 {
  position: absolute;
  left: 269px;
  top: 209px;
  border-radius: 30px;
  z-index: 2;
  background: #222831;
  width: 944px;
  height: 623px;
  flex-shrink: 0;

}

.day {
  padding-left: 32px;
  top: 48px;    
  flex-shrink: 0;
  color: #FFF;
  font-family: Montserrat;
  font-size: 37px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  justify-content: left;
  
}

.data {
  padding-left: 32px;
  padding-top: 32px;
  flex-shrink: 0;
  color: #FFF;
  font-family: Montserrat;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

}