
.card_TWO {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    padding: 55px 50px;
    border-radius: 0 25px 25px 0;
    background: #222831;
}
.indicators {
    display: grid;
    margin-bottom: 79px;
    grid-template-rows: 35px 35px 35px;
    grid-template-columns: 275px 140px;
    gap: 16px;

}

.Weekday {
    display: grid;
    grid-template-columns:  auto auto auto auto;
    align-content: center;
    gap: 0px;
    flex-shrink: 0;
    border-radius: 12px;
    width: 415px;
    height: 165px;
    background: rgba(39, 46, 55, 0.99);
}

.day_White {
    padding: 15px;
    display: grid;
    grid-template-rows: 55px 24px 24px;
    gap: 15px;
    justify-items: center;
    width: 104px;
    height: 168px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 1px 2px 4px 0px #222831;
} 

.day_Black {
    margin: 2px 2px 2px 0px;
    padding: 12px;
    display: grid;
    grid-template-rows: 55px 24px 24px;
    gap: 15px;
    justify-items: center;
    width: 103px;
    height: 165px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #272E37;
    box-shadow: 1px 2px 4px 0px #222831;
} 

.Date_Style_1 {
    color: #000;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.Temp_Style_1 {
    color: #000;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.Date_Style_2 {
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.Temp_Style_2 {
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.change {
    margin-top: 69px;
    display: grid;
    grid-template-columns: min-content max-content;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 415px;
    height: 53px;
    flex-shrink: 0;
    border-radius: 10px;
    background: linear-gradient(91deg, rgba(144, 217, 224, 0.90) 0.2%, rgba(84, 96, 230, 0.90) 100%);

}

.change_location {
    text-align: right;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.text_LEFT {
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.text_RIGHT {
    text-align: right;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}