.card_ONE {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    height: 666px;
    border-radius: 30px;
    padding: 48px 32px;
    z-index: 3;
    background-image: linear-gradient(152deg, rgba(170, 234, 236, 0.9) -0.04%, rgba(83, 91, 230, 0.90) 100%), url("../image/Restangle.png");
    
}

.card_text-ONE {
    display: grid;
    grid-template-rows: [start] 44px [line2] 36px [line3] 28px [end];
    gap: 10px;
}

.day {
    font-size: 37px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.data {
    font-weight: 500;
    font-size: 22px;
    letter-spacing: 0;
    line-height: normal;
}

.loc_left {
    display: grid;
    grid-template-columns: max-content auto;
    grid-gap: 8px;
    align-items:center;
    font-weight: 600;
    font-size: 20px;
    line-height: normal;
}
.bottom_text {
    display: grid;
    grid-template-rows: [start] 95px [line2] 61px [line3] 33px [end];
    gap: 9px;
    margin-top: 200px;
}
.temperature {
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.sun {
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}